* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #121212;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 3px 5px rgba( 0, 0, 0, 0.5);
    overflow: hidden;
}

.header {
    background: linear-gradient(120deg, #3acbf0 0%, #8bb0ff 100%);
    padding: 24px;
    text-align: center;
    color: #fff;
}

.form {
    padding: 18px;
}

.form-content {
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}